%h1 Quest Till Done
%p
  In the spirit of Habit RPG and Dungeons and Developers, Quest Till Done is a fun, visual task-management tool to help users juggle multiple projects, classes and/or hobbies.
  Rather than working through bland checklists, ascend project ‘talent trees’, gaining skill points in everything from cooking to python along the way. The product allows you to quantify your productivity and skill-set, while helping keep track of where you left off on each project in your ‘quest log’.
