%h1 
  %a(href='https://github.com/scheidm/quest-till-done')
    Quest Till Done
    %img.lang-icon.img-sm(src='/assets/media/js.png')
    %img.lang-icon.img-sm(src='/assets/media/ruby.png')
%p
  In the spirit of Habit RPG and Dungeons and Developers, Quest Till Done is a fun, visual task-management tool to help users juggle multiple projects, classes and/or hobbies.
  Rather than working through bland checklists, ascend project ‘talent trees’, gaining skill points in everything from cooking to python along the way. The product allows you to quantify your productivity and skill-set, while helping keep track of where you left off on each project in your ‘quest log’.

%h1
  %a(href='https://github.com/scheidm/static-zen')
    Static Zen
    %img.lang-icon.img-sm(src='/assets/media/ruby.png')
    %img.lang-icon.img-sm(src='/assets/media/js.png')
    %img.lang-icon.img-sm(src='/assets/media/css3.png')
    %img.lang-icon.img-sm(src='/assets/media/html5.png')
%p
  Having gotten fed up with unnecessarily complicated static-website tools like Jekyl and Ruhoh, I created static-zen as a pure Ruby tool to template out static websites. Leveraging the power of HAML markdown, I used the code for this very website as an example and starting point for others to build their own sites for github-pages or other light-weight deployments. Still a work in progress, the goal is to keep all configuration limited to a single file and yet allow nested templates in any possible arrangement to achieve DRY website development in the cleanest way possible. And, since I leverage the power of the Tilt gem, one can easily substitute any of the 13 supported templating languages to suit any taste

%h1
  %a(href='https://github.com/scheidm/dragon-dev')
    Dragon Dev
    %img.lang-icon.img-sm(src='/assets/media/ruby.png')
%p
  A virtualization tool designed to allow the deployment of a static developer environment on any host system. The goal is to remove the hassles of Windows programming, as well as any environmental differences between development and production, by providing one clean interface for all. Future versions will leverage the power of Docker to allow for more variety of servers to run isolated in the same instance, allowing developers to work on multiple projects simultaneously with minimal system overhead.

%h1
  %a(href='https://github.com/scheidm/unlimited-happiness')
    Unlimited Happiness
    %img.lang-icon.img-sm(src='/assets/media/perl.png')
%p
  Still very much an early prototype, Unlimited Happiness is a tool designed to make it easy to get the most out of the Kindle Unlimited program by highlighting what books on your Goodreads.com 'to read' shelf are currently available for free on the Kindle Unlimited program. Currently a proof of concept, future goals include highlighting freebies from all authors the user has read, to providing a list of sales the user might enjoy.
